<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- Dashboard CSS -->
    <link href="../static/css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <title>Yonetim</title>
</head>
<body>

<!-- Fragment navbar -->
<div th:replace="fragments/navbar" :: navbar></div>

<div class="container-fluid">
    <div class="row">

        <!-- Fragment sidebar -->
        <div th:replace="fragments/sidebar" :: sidebar></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <p>GO</p>
        </main>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>